@use '../../../../styles/mixins' as *;

.NavList {
    &-mobile, &-desktop {
        &-ol {
            display: flex;
            gap: 2rem;
        }
        &-link {
            @include color();
            font-weight: bold;
        }
    }

    &-mobile {
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 2rem;
        margin-top: 6rem;
        outline: 1px solid gray; 

        @include desktop() { display: none; }
    }

    &-desktop {
        display: none;
        @include desktop() { display: block; }
    }
}