@import '../../../styles/mixins';

.LibraryNasa {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    @include desktop(){
      margin: 2rem auto;
      padding: 0;
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &-title-sub {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;
    }

    &-title {
        font-size: 1.7rem;
    }

    &-library {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5rem;
    }
        
    &-item {
        width: 100%;
        object-fit: cover;
        object-position: center;
        max-height: 280px;
    }
}