.Header {
    // mi idea es dejar el nav donde esta sin duplicarlo, ponerle un estilo en desktop y otro estilo para el mobile (posicion absoluta, etc)

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

}