@import '../../../styles/mixins';
@import '../../../styles/variables';

.Close {
    width: 1.7rem;
    height: 1.7rem;
    color: map-get($colors, 'black' );

    @include desktop(){
        display: none;
    } 

}