@use '../../../styles/mixins' as *;
@use 'sass:map';

.HomePage {
    display: flex;
    gap: 2.5rem;
    align-items: flex-end;
    gap: 2.5rem;
    padding: 2rem 1rem;

    background-image: url('../../../../public/homepage.jpg');    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    

    @include desktop(){
        align-items: center;
        padding: 3rem;
        max-width: 1280px;
        margin: 0 auto;
        gap: 4rem;
    }


    &-h2 {
        color: white;
        font-size: 2rem ;
        line-height: 1.5;
        justify-self: flex-start;

        @include desktop(){
            font-size: 2.5rem ;
            max-width: 25rem;
        }
    }

    &-img {
        width: 100%;

        @include desktop(){
            width: 18rem;
        }
    }
    
}